# =====================
# Python
# =====================
__pycache__/
.pycache/
*.py[cod]
*.pyo
*.pyd
*.sqlite3

# =====================
# Virtual Env
# =====================
.venv/
venv/

# =====================
# Logs
# =====================
*.log

# =====================
# Env
# =====================
.env
backend/.env
frontend/.env
!.env.example
!backend/.env.example
!frontend/.env.example

# =====================
# Node
# =====================
node_modules/
dist/
build/

# =====================
# IDE
# =====================
.idea/
.vscode/

# =====================
# OS
# =====================
.DS_Store
Thumbs.db
